<div class="container-fluid bg-primary">
    <div class="row">
        <div class="col-xl-6">
            <h1>
            Si vous pensez que les histoires ne sont pas importantes, 
            attendez jusqu'à ce qu'elles soient tout ce que vous laisserez derrière vous !
            </h1>
            <p>
                Que ce soit pour inspirer, motiver, conseiller ou juste pour marquer
                votre passage sur terre, nous vous permettons d'écrire vos histoires.
            </p>
            <a class="btn btn-light" href="#">
            Je veux ommencer à écrire des histoires
            </a>  
        </div>
        <div class="col-xl-6">
            
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <p>Tendances sur Eritage</p>   
        </div>
    </div>
</div>
